* {
    color: white;
}

body {
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    /* background-color: aqua; */
    font-family: sans-serif;
    width: auto;
    height: auto;
}

.location {
    padding-top: 10%;
}

.location-timezone {
    padding-top: 40px;
}

.degree {
    font-size: 27px;
}

.week {
    padding-top: 150px;
}
